/* 「ブライダルフェア」ページ ここから↓ */

.gallery_box{
  display: flex;
}
.gallery_box figure{
  margin: 0 0 15px 15px;
  width: 180px;
}
.gallery_box figure img{
  
  box-shadow: 0 0 8px gray;
}

.gallery_box figure:first-child{
  margin-left: 0;
}
.gallery_box:first-of-type{
  margin-top: 50px;
}

/* 「ブライダルフェア」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */

form p {
	margin-top: 0;
	margin-bottom: 30px;
}
form p:nth-last-child(2) {
	margin-bottom: 7px;
}
form p:last-child {
	margin-bottom: 0;
}
input[type="text"] {
	width: 200px;
}
input[type="email"] {
	width: 300px;
}
textarea {
	width: 420px;
	height: 115px;
	overflow-y: scroll;
}
input,textarea{
  border: none;
}
input[type="submit"]{
	padding: .5rem 1rem;
	margin-left: 65%;
}

/* 「お問い合わせ」ページ ここまで↑ */
